@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Lobster&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #8282aab4 12px solid;
    /* background-color: #dee8f5ef; */
    background: rgb(1,10,40);
background: radial-gradient(circle, rgba(1,10,40,1) 0%, rgba(4,58,131,1) 100%);
}

.header__logo,
.header__link {
    display: inline-block;
}



#header__list li {
    display: inline-block;

}

#header__list li a {
    text-decoration: none;
    font-family: Oswald;
    color: #5f758d;
    font-size: 30px;
    margin-right: 45px;
}

main, footer {
    /* background-color: rgb(2, 5, 54); */
    background: rgb(1,10,40);
background: radial-gradient(circle, rgba(1,10,40,1) 0%, rgba(4,58,131,1) 100%);

}

.content {
    display: inline-block;

    justify-content: space-between;

    /* align-items: center; */
}

iframe {
    margin: 55px 150px;
    border-radius: 2%;
    border: 3px solid white;
}

.actors {
    color: white;
    display: flex;
    /* justify-content: space-around; */
    margin-left: 100px;
}

.actors figcaption {
    margin-bottom: 25px;
}

.actors figure {
    display: block;
}

.actors__title {
    display: block;
    text-align: center;
    font-size: 28px;
    font-family: Oswald;
}

figure img {
    width: 100px;
    height: 150px;
    ;
    object-fit: cover;
    margin: 10px 45px;
    border-radius: 15%;
}

figcaption {
    font-size: 20px;
    font-family: Oswald;
    margin: 0 45px;
}

.ranking {
    display: flex;
    color: rgb(255, 255, 255);
    font-family: Oswald;
    font-size: 28px;
}

.imdb img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    margin: 10px 10px;
}

.imdb {
    margin: 20px 60px 20px 20px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

#date {
    color: rgb(153, 153, 153);
    margin: 0 20px;
}

#imdb__score {
    margin-left: 20px;
}

.ranking__info {
    margin: 0 150px;
}

footer {
    border-top: #8282aab4 12px solid;
   
height: 100px;}
.contact {
    margin-top: 10px;
    margin-left: 40%;
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(97, 92, 92);  
}

.contact a {
margin-left: 22px;
}


